
.agendamento {
    padding: 25px;
    margin: 30px;
    border-radius: 7px;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;
        max-width: 400px;
    }
}

.agendamento form div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 15px;
}

.agendamento label {
    margin-bottom: 8px;
    font-weight: bold;
}

.agendamento input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.agendamento button {
    padding: 12px;
    background-color: #70849a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.agendamento button:hover {
    background-color: #0056b3;
}